Repository AJD-Archive/Kkeujeok_Backend, pull requests merged in 2024-08, with the labels that each got.

#54 Refactor: RestTemplate 의존성 주입으로 수정
  src/main/java/shop/kkeujeok/kkeujeokbackend/global/config/AppConfig.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/global/oauth/GoogleAuthService.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/global/oauth/KakaoAuthService.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/global/oauth/GoogleAuthServiceTest.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/global/oauth/KakaoAuthServiceTest.java
Labels: Refactor

#53 Feat(#48): 마이페이지 구현
  src/main/java/shop/kkeujeok/kkeujeokbackend/auth/application/AuthMemberService.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/member/api/MemberController.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/member/domain/Member.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/member/domain/repository/MemberRepository.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/member/mypage/api/dto/request/MyPageUpdateReqDto.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/member/mypage/api/dto/response/MyPageInfoResDto.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/member/mypage/application/MyPageService.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/member/mypage/exception/ExistsNicknameException.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/member/mypage/application/MyPageServiceTest.java
Labels: Feature, Test

#55 챌린지 생성 기능 구현
  build.gradle
  src/main/java/shop/kkeujeok/kkeujeokbackend/challenge/api/ChallengeController.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/challenge/api/dto/reqeust/ChallengeSaveReqDto.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/challenge/api/dto/response/ChallengeInfoResDto.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/challenge/application/ChallengeService.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/challenge/converter/CycleDetailsConverter.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/challenge/domain/Challenge.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/challenge/domain/Cycle.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/challenge/domain/CycleDetail.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/challenge/domain/repository/ChallengeRepository.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/challenge/exception/CycleDetailsNotFoundException.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/challenge/exception/InvalidCycleDetailsConversionException.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/challenge/exception/InvalidCycleException.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/global/entity/Status.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/member/exception/MemberNotFoundException.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/challenge/application/ChallengeServiceTest.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/challenge/converter/CycleDetailsConverterTest.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/challenge/domain/ChallengeTest.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/common/annotation/ControllerTest.java
Labels: Feature, Test

#60 Feat(#48 #52): 마이페이지, 랜덤 닉네임, 랜덤 태그 생성 / 테스트코드 작성
  src/docs/asciidoc/login.adoc
  src/docs/asciidoc/member.adoc
  src/main/java/shop/kkeujeok/kkeujeokbackend/auth/application/AuthMemberService.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/global/config/AppConfig.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/member/api/MemberController.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/member/domain/Member.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/member/domain/repository/MemberCustomRepository.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/member/domain/repository/MemberCustomRepositoryImpl.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/member/domain/repository/MemberRepository.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/member/mypage/application/MyPageService.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/member/nickname/application/NicknameService.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/member/nickname/config/NicknameConfig.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/member/tag/application/TagService.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/auth/api/AuthControllerTest.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/auth/application/AuthMemberServiceTest.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/common/annotation/ControllerTest.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/member/api/MemberControllerTest.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/member/nickname/application/NicknameServiceTest.java
Labels: API, Feature, Refactor, Test

#69 Refactor(#11 #18): 블록 삭제 기능 메시지 변경, 블록 삭제 테스트 DisplayName 수정
  src/main/java/shop/kkeujeok/kkeujeokbackend/block/api/BlockController.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/block/api/dto/request/BlockSaveReqDto.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/block/domain/Block.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/block/domain/Type.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/block/api/BlockControllerTest.java
Labels: Refactor

#68 Feat(#67 #62): 팀 대시보드 기능 구현, 테스트 코드 구현, 개인 대시보드 삭제 메시지, queryDSL 수정
  src/docs/asciidoc/teamDashboard.adoc
  src/main/java/shop/kkeujeok/kkeujeokbackend/dashboard/domain/repository/DashboardCustomRepository.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/dashboard/domain/repository/DashboardCustomRepositoryImpl.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/dashboard/personal/api/PersonalDashboardController.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/dashboard/personal/api/dto/response/PersonalDashboardListResDto.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/dashboard/personal/application/PersonalDashboardService.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/dashboard/team/api/TeamDashboardController.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/dashboard/team/api/dto/request/TeamDashboardSaveReqDto.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/dashboard/team/api/dto/request/TeamDashboardUpdateReqDto.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/dashboard/team/api/dto/response/SearchMemberListResDto.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/dashboard/team/api/dto/response/TeamDashboardInfoResDto.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/dashboard/team/api/dto/response/TeamDashboardListResDto.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/dashboard/team/application/TeamDashboardService.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/dashboard/team/domain/TeamDashboard.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/dashboard/team/domain/TeamDashboardMemberMapping.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/dashboard/team/domain/repository/TeamDashboardRepository.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/common/annotation/ControllerTest.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/dashboard/personal/api/PersonalDashboardControllerTest.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/dashboard/personal/application/PersonalDashboardServiceTest.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/dashboard/team/api/TeamDashboardControllerTest.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/dashboard/team/application/TeamDashboardServiceTest.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/dashboard/team/domain/TeamDashboardTest.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/dashboard/team/domain/repository/TeamDashboardRepositoryTest.java
Labels: Docs, API, Feature, Refactor, Test

#71 Refactor(#11 #18): 블록 반환 값 추가, 반환 값 추가로 인한 테스트 코드 수정
  src/main/java/shop/kkeujeok/kkeujeokbackend/block/api/dto/response/BlockInfoResDto.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/block/api/BlockControllerTest.java
Labels: Refactor

#73 Feat(#70): 팀 문서, 팀 파일 CRUD 구현
  src/docs/asciidoc/document.adoc
  src/docs/asciidoc/file.adoc
  src/main/java/shop/kkeujeok/kkeujeokbackend/dashboard/team/domain/TeamDashboard.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/dashboard/teamdocument/api/DocumentController.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/dashboard/teamdocument/api/FileController.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/dashboard/teamdocument/api/dto/request/DocumentInfoReqDto.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/dashboard/teamdocument/api/dto/request/DocumentUpdateReqDto.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/dashboard/teamdocument/api/dto/request/FileInfoReqDto.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/dashboard/teamdocument/api/dto/response/DocumentInfoResDto.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/dashboard/teamdocument/api/dto/response/DocumentListResDto.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/dashboard/teamdocument/api/dto/response/FileInfoResDto.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/dashboard/teamdocument/api/dto/response/FileListResDto.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/dashboard/teamdocument/application/DocumentService.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/dashboard/teamdocument/application/FileService.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/dashboard/teamdocument/domain/Document.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/dashboard/teamdocument/domain/File.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/dashboard/teamdocument/domain/repository/DocumentCustomRepository.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/dashboard/teamdocument/domain/repository/DocumentCustomRepositoryImpl.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/dashboard/teamdocument/domain/repository/DocumentRepository.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/dashboard/teamdocument/domain/repository/FileCustomRepository.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/dashboard/teamdocument/domain/repository/FileCustomRepositoryImpl.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/dashboard/teamdocument/domain/repository/FileRepository.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/dashboard/teamdocument/exception/DocumentNotFoundException.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/dashboard/teamdocument/exception/FileNotFoundException.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/dashboard/teamdocument/exception/TeamDashboardNotFoundException.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/common/annotation/ControllerTest.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/dashboard/teamdocument/api/DocumentControllerTest.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/dashboard/teamdocument/api/FileControllerTest.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/dashboard/teamdocument/application/DocumentServiceTest.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/dashboard/teamdocument/application/FileServiceTest.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/dashboard/teamdocument/domain/DocumentTest.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/dashboard/teamdocument/domain/FileTest.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/dashboard/teamdocument/domain/repository/DocumentRepositoryTest.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/dashboard/teamdocument/domain/repository/FileRepositoryTest.java
Labels: API, Feature, Refactor, Test

#83 Feat(#81): 챌린지 카테고리 추가
  src/main/java/shop/kkeujeok/kkeujeokbackend/challenge/api/ChallengeController.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/challenge/api/dto/reqeust/ChallengeSaveReqDto.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/challenge/api/dto/response/ChallengeInfoResDto.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/challenge/application/ChallengeService.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/challenge/domain/Category.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/challenge/domain/Challenge.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/challenge/domain/repository/ChallengeCustomRepository.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/challenge/domain/repository/ChallengeCustomRepositoryImpl.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/challenge/api/ChallengeControllerTest.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/challenge/application/ChallengeServiceTest.java
Labels: Feature, Test

#80 Refactor: 컨벤션에 맞게 수정
  src/main/java/shop/kkeujeok/kkeujeokbackend/auth/api/AuthController.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/auth/application/AuthServiceFactory.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/auth/application/TokenService.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/dashboard/teamdocument/application/DocumentService.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/dashboard/teamdocument/domain/repository/DocumentCustomRepositoryImpl.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/dashboard/teamdocument/exception/DocumentNotFoundException.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/dashboard/teamdocument/exception/FileNotFoundException.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/dashboard/teamdocument/exception/TeamDashboardNotFoundException.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/global/config/AnnotationWebConfig.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/global/config/FilterWebConfig.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/global/jwt/TokenProvider.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/global/oauth/KakaoAuthService.java
Labels: Refactor

#82 Feat(#48): 마이페이지 챌린지, 팀 대시보드 조회
  src/docs/asciidoc/member.adoc
  src/main/java/shop/kkeujeok/kkeujeokbackend/challenge/application/ChallengeService.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/challenge/domain/repository/ChallengeCustomRepository.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/challenge/domain/repository/ChallengeCustomRepositoryImpl.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/member/api/MemberController.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/member/mypage/api/dto/response/TeamDashboardsAndChallengesResDto.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/member/mypage/application/MyPageService.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/member/api/MemberControllerTest.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/member/mypage/application/MyPageServiceTest.java
Labels: API, Feature

#84 Feat(#62): 사용자의 개인 대시보드 카테고리 조회 기능 구현
  src/docs/asciidoc/peronsalDashboard.adoc
  src/main/java/shop/kkeujeok/kkeujeokbackend/dashboard/domain/repository/DashboardCustomRepository.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/dashboard/domain/repository/DashboardCustomRepositoryImpl.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/dashboard/personal/api/PersonalDashboardController.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/dashboard/personal/api/dto/response/PersonalDashboardCategoriesResDto.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/dashboard/personal/application/PersonalDashboardService.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/dashboard/personal/api/PersonalDashboardControllerTest.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/dashboard/personal/application/PersonalDashboardServiceTest.java
Labels: API, Feature, Test

#87 Feat(#86): 블록 순번 속성 추가, 순번 지정, 순번 변경 api 기능 구현, 테스트 코드 구현
  src/docs/asciidoc/block.adoc
  src/docs/asciidoc/index.adoc
  src/docs/asciidoc/personalDashboard.adoc
  src/main/java/shop/kkeujeok/kkeujeokbackend/block/api/BlockController.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/block/api/dto/request/BlockSaveReqDto.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/block/api/dto/request/BlockSequenceUpdateReqDto.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/block/api/dto/response/BlockInfoResDto.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/block/application/BlockService.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/block/domain/Block.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/block/domain/repository/BlockCustomRepository.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/block/domain/repository/BlockCustomRepositoryImpl.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/dashboard/domain/Dashboard.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/dashboard/personal/domain/PersonalDashboard.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/dashboard/team/domain/TeamDashboard.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/block/api/BlockControllerTest.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/block/application/BlockServiceTest.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/block/domain/BlockTest.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/block/domain/repository/BlockRepositoryTest.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/challenge/api/ChallengeControllerTest.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/dashboard/personal/api/PersonalDashboardControllerTest.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/dashboard/team/api/TeamDashboardControllerTest.java
Labels: API, Feature, Refactor, Test

#89 Refactor(#88): 개인, 팀 대시보드 전체 조회 페이지네이션 제거
  src/main/java/shop/kkeujeok/kkeujeokbackend/dashboard/domain/repository/DashboardCustomRepository.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/dashboard/domain/repository/DashboardCustomRepositoryImpl.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/dashboard/personal/api/PersonalDashboardController.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/dashboard/personal/api/dto/response/PersonalDashboardListResDto.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/dashboard/personal/application/PersonalDashboardService.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/dashboard/team/api/TeamDashboardController.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/dashboard/team/api/dto/response/TeamDashboardListResDto.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/dashboard/team/application/TeamDashboardService.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/dashboard/personal/api/PersonalDashboardControllerTest.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/dashboard/personal/application/PersonalDashboardServiceTest.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/dashboard/personal/domain/repository/PersonalDashboardRepositoryTest.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/dashboard/team/api/TeamDashboardControllerTest.java
Labels: Refactor

#93 Fix(#92): Build시에 Q클래스 생성되지 않는 버그
  src/main/java/shop/kkeujeok/kkeujeokbackend/global/config/QuerydslConfig.java
Labels: Bug

#95 Refactor(#88): 개인, 팀 대시보드 전체 조회 페이지네이션 제거
  src/main/java/shop/kkeujeok/kkeujeokbackend/dashboard/domain/repository/DashboardCustomRepository.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/dashboard/domain/repository/DashboardCustomRepositoryImpl.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/dashboard/personal/api/PersonalDashboardController.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/dashboard/personal/api/dto/response/PersonalDashboardListResDto.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/dashboard/personal/application/PersonalDashboardService.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/dashboard/team/api/TeamDashboardController.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/dashboard/team/api/dto/response/TeamDashboardListResDto.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/dashboard/team/application/TeamDashboardService.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/dashboard/personal/api/PersonalDashboardControllerTest.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/dashboard/personal/application/PersonalDashboardServiceTest.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/dashboard/personal/domain/repository/PersonalDashboardRepositoryTest.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/dashboard/team/api/TeamDashboardControllerTest.java
Labels: Bug, Refactor

#91 Docs(#90): api 명세서에 enum 항목 설명 추가
  src/docs/asciidoc/challenge.adoc
Labels: Docs
