Repository AJD-Archive/Kkeujeok_Backend, pull requests merged in 2024-07, with the labels that each got.

#7 Feat(#6): member entity 생성
  src/main/java/shop/kkeujeok/kkeujeokbackend/member/domain/Member.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/member/domain/Role.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/member/domain/SocialType.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/member/domain/repository/MemberRepository.java
Labels: Feature

#8 Feat(#6) TokenProvider 코드 작성
  build.gradle
  src/main/java/shop/kkeujeok/kkeujeokbackend/global/jwt/TokenProvider.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/global/jwt/api/dto/TokenDto.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/global/jwt/domain/Token.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/global/jwt/domain/repository/TokenRepository.java
  src/main/resources/application.yml
  src/test/java/shop/kkeujeok/kkeujeokbackend/global/jwt/TokenProviderTest.java
Labels: Feature

#9 Feat(#1): logback 설정
  build.gradle
  src/main/resources/application.yml
  src/main/resources/logback.xml
Labels: Docs, Feature

#13 Feat(#12): BaseEntity, Status클래스 구현
  src/main/java/shop/kkeujeok/kkeujeokbackend/global/entity/BaseEntity.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/global/entity/Status.java
Labels: Feature, Setting

#16 Feat(#15): queryDSL 설정
  build.gradle
  src/main/java/shop/kkeujeok/kkeujeokbackend/global/config/QuerydslConfig.java
Labels: Setting

#19 Feat(#11, #18): 블록 엔티티, 저장 기능, 저장 테스트 코드 구현
  src/main/java/shop/kkeujeok/kkeujeokbackend/block/api/BlockController.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/block/api/dto/request/BlockSaveReqDto.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/block/api/dto/response/BlockInfoResDto.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/block/application/BlockService.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/block/domain/Block.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/block/domain/Progress.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/block/domain/repository/BlockRepository.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/block/api/BlockControllerTest.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/block/application/BlockServiceTest.java
Labels: Feature, Test

#21 Feat(#11): Block 수정 기능, 수정 테스트 코드 구현
  src/main/java/shop/kkeujeok/kkeujeokbackend/block/api/BlockController.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/block/api/dto/request/BlockUpdateReqDto.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/block/application/BlockService.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/block/domain/Block.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/block/exception/BlockNotFoundException.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/block/api/BlockControllerTest.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/block/application/BlockServiceTest.java
Labels: Feature

#22 Feat(#6 #20): 로그인/회원가입 기능 / 테스트코드 작성
  src/main/java/shop/kkeujeok/kkeujeokbackend/auth/api/AuthController.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/auth/api/dto/request/RefreshTokenReqDto.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/auth/api/dto/request/TokenReqDto.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/auth/api/dto/response/AccessAndRefreshTokenResDto.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/auth/api/dto/response/MemberLoginResDto.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/auth/api/dto/response/UserInfo.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/auth/application/AuthMemberService.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/auth/application/AuthService.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/auth/application/AuthServiceFactory.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/auth/application/TokenService.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/global/jwt/domain/Token.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/global/oauth/GoogleAuthService.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/global/oauth/KakaoAuthService.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/global/oauth/exception/OAuthException.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/member/domain/Member.java
  src/main/resources/application.yml
  src/test/java/shop/kkeujeok/kkeujeokbackend/auth/api/AuthControllerTest.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/auth/application/AuthMemberServiceTest.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/auth/application/AuthServiceFactoryTest.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/auth/application/TokenServiceTest.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/global/jwt/TokenProviderTest.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/global/jwt/domain/TokenTest.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/global/jwt/domain/repository/TokenRepositoryTest.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/global/oauth/GoogleAuthServiceTest.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/global/oauth/KakaoAuthServiceTest.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/member/domain/repository/MemberRepositoryTest.java
Labels: API, Feature, Test

#28 Feat(#11 #18): 블록 제목과 내용이 기존과 동일하면 수정 X, 블록 상태 수정
  src/main/java/shop/kkeujeok/kkeujeokbackend/block/api/BlockController.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/block/application/BlockService.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/block/domain/Block.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/block/exception/InvalidProgressException.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/block/api/BlockControllerTest.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/block/application/BlockServiceTest.java
Labels: Refactor

#39 Test(#18): test yml 파일 추가, 적용
  src/test/java/shop/kkeujeok/kkeujeokbackend/block/api/BlockControllerTest.java
  src/test/resources/application.yml
Labels: Test

#41 Test(#20): yml 파일 적용 코드 추가
  src/test/java/shop/kkeujeok/kkeujeokbackend/auth/api/AuthControllerTest.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/auth/application/AuthMemberServiceTest.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/auth/application/AuthServiceFactoryTest.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/auth/application/TokenServiceTest.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/global/jwt/TokenProviderTest.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/global/jwt/domain/TokenTest.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/global/oauth/GoogleAuthServiceTest.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/global/oauth/KakaoAuthServiceTest.java
Labels: Test

#43 Test(#18): BlockControllerTest Restdocs 적용, Block 상태별 전체 조회, 단건 조회 구현
  src/docs/asciidoc/block.adoc
  src/main/java/shop/kkeujeok/kkeujeokbackend/block/api/BlockController.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/block/api/dto/request/BlockSaveReqDto.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/block/api/dto/request/BlockUpdateReqDto.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/block/api/dto/response/BlockInfoResDto.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/block/api/dto/response/BlockListResDto.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/block/application/BlockService.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/block/domain/Block.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/block/domain/repository/BlockCustomRepository.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/block/domain/repository/BlockCustomRepositoryImpl.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/block/domain/repository/BlockRepository.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/global/dto/PageInfoResDto.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/KkeujeokBackendApplicationTests.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/block/api/BlockControllerTest.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/block/application/BlockServiceTest.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/common/annotation/ControllerTest.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/example/BlockControllerTest.java
Labels: Test

#30 Feat(#29) 필터 기능 구현
  src/main/java/shop/kkeujeok/kkeujeokbackend/auth/api/AuthController.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/auth/application/AuthMemberService.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/auth/application/AuthService.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/auth/application/TokenService.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/auth/exception/EmailNotFoundException.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/auth/exception/ExistsMemberEmailException.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/auth/exception/InvalidTokenException.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/global/config/WebConfig.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/global/filter/LogFilter.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/global/filter/LoginCheckFilter.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/global/filter/exceptiton/AuthenticationException.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/global/jwt/TokenProvider.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/global/oauth/GoogleAuthService.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/global/oauth/KakaoAuthService.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/auth/api/AuthControllerTest.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/global/filter/LoginCheckFilterTest.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/global/oauth/GoogleAuthServiceTest.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/global/oauth/KakaoAuthServiceTest.java
Labels: API, Feature, Refactor, Test

#42 Feat(#29): 어노테이션 구현
  src/main/java/shop/kkeujeok/kkeujeokbackend/global/annotation/CurrentUserEmail.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/global/annotationresolver/CurrentUserEmailArgumentResolver.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/global/config/AnnotationWebConfig.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/global/config/FilterWebConfig.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/global/annotationresolver/CurrentUserEmailArgumentResolverTest.java
Labels: API, Feature, Refactor, Test

#45 Feat(#11 #18): Block 논리 삭제 기능 구현, Block 상태별 전체조회 Query 수정, Block, BlockRepository 테스트 코드 구현
  build.gradle
  src/docs/asciidoc/block.adoc
  src/main/java/shop/kkeujeok/kkeujeokbackend/block/api/BlockController.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/block/application/BlockService.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/block/domain/Block.java
  src/main/java/shop/kkeujeok/kkeujeokbackend/block/domain/repository/BlockCustomRepositoryImpl.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/block/api/BlockControllerTest.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/block/application/BlockServiceTest.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/block/domain/BlockTest.java
  src/test/java/shop/kkeujeok/kkeujeokbackend/block/domain/repository/BlockRepositoryTest.java
Labels: API, Feature, Test
